
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.dropDown{
    position: relative;
    /* transform: translateX(-50%); */
}

.show{
    position: absolute;
    /* transform: translateY(-50%); */
    /* width: 200px; */
    /* height: 20px; */
    overflow: hidden;
    background: black;
    display: grid;
    grid-template-columns: 100px 150px 20px;
    grid-template-rows: 20px;
    border: 2px solid black;
}

.date{
    position: absolute;
    top:0; 
    visibility: hidden;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
    grid-column: 2/3;
}

.text{
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: gray;
}

.current{
    visibility: visible;
}

.drop{
    grid-column: 3/4;
    /* overflow: visible; */
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    overflow: hidden;
}

/* .lift{
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    
} */

.table{
    height: 0;
    position: absolute;
    top:24px;
    display: grid;
    grid-template-columns: 250px 20px;
    /* grid-template-rows: 0fr; */
    /* overflow: hidden; */
    background: black;
    /* visibility: hidden; */
    transition: height 0.5s;
}
/* 
.droper{
    position: absolute;
    width: 270px;
    overflow: hidden;
    top: 24px; 
} */

.active{
    height: auto;
}

.day{
    color: white;
    display: flex;
    justify-content:end;
    grid-column: 1/2;
}

.cur{
    font-weight: bold;
}